<% if @birthday_person.present? %>
  <p>Today is your birthday!!!</p>
<% end %>
<% if @my_invites %>
  <% @my_invites.each do |invite| %>
  <div class="well well-lg">
    <p>
      You got an invitation from <i><%= invite.birthday.name %></i>
    </p>
    <% if invite.is_contributed? %>
      <p>Do you want to revert your <%= link_to "Contribute",revert_contribution_path(:bid=> invite.bid),method: :post %></p>
    <% else %>
    <p>Would you like to  <%= link_to "Contribute",add_contribution_path(:bid=> invite.bid),method: :post %> </p>
   
    <p>
      Tell what you want to have for party
    </p>

    <%= form_tag(add_order_path) do |f| %>
      <%= hidden_field_tag 'birthday_id', invite.birthday.id %>
      <%= hidden_field_tag 'invite_id', invite.id %>
      <div class="form-group">
      
       <%=select_tag "product_id", options_from_collection_for_select(@products, "id", "name",invite.product_id), class: 'form-control product_id',id: invite.id %>
        </div>
      <div class="form-group">

        <%=text_field_tag 'extra', invite.extra, class: "form-control #{invite.is_pizza_product? ? 'hidden' : ''}", id: "extra-#{invite.id}",placeholder: 'Specify your dish' %>
      </div>
      <br>
        <%= submit_tag 'sumbit',class: 'btn btn-primary' %>
    <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    
    $('.product_id').click(function() {
      var product = $(this).find(":selected").text();
      if (product != 'Pizza'){
        $('#extra-'+$(this).attr('id')).show();
        $('#extra-'+$(this).attr('id')).removeClass('hidden')
      }
      else{
        $('#extra-'+$(this).attr('id')).hide()
      }
    });
  });
</script>